@page "/expenses"

<h3>Expenses</h3>

<div class="container">

    <div class="row">
        <h3>Add new expense.</h3>
        <EditForm Model="CreateExpenseCommand" OnSubmit="@CreateNewExpense" class="row">
            <div class="input-container">
                <InputDate @bind-Value="CreateExpenseCommand.Date" class="form-control"></InputDate>
            </div>

            <div class="input-container">
                <InputNumber @bind-Value="CreateExpenseCommand.Value" class="form-control"></InputNumber>
            </div>

            <div class="input-container">
                <InputSelect @bind-Value="CreateExpenseCommand.AccountId" class="form-select">
                    <option value="">--- SELECT ACCOUNT ---</option>
                    @foreach (var account in UserBudgetAccounts)
                    {
                        <option value="@account.AccountId" @key="@account.AccountId">@account.AcconuntName</option>
                    }
                </InputSelect>
            </div>
            
            <div class="input-container">                
                <InputSelect @bind-Value="CreateExpenseCommand.CategoryId" @oninput="@ChangeCategoryEvent" class="form-select">
                    <option value="">--- SELECT CATEGORY ---</option>
                    @foreach(var category in CategoryList)
                    {
                        <option value="@category.Key">@category.Value</option>
                    }
                </InputSelect>
            </div>
            
            <div class="input-container">                
                <InputSelect @bind-Value="CreateExpenseCommand.SubCategoryId" class="form-select">
                    <option value="">--- SELECT SUB CATEGORY ---</option>
                    @foreach(var subCategory in SubCategoryList)
                    {
                        <option value="@subCategory.Key">@subCategory.Value</option>
                    }
                </InputSelect>
            </div>
            
            <div class="input-container">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </EditForm>
    </div>

    <div class="row">
        <h3>Expense transactions list</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Value</th>
                    <th>Currency</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Transactions)
                {
                    <tr>
                        <th>@transaction.Date</th>
                        <th>@transaction.Value</th>
                        <th>@transaction.Currency</th>
                        <th>@transaction.Category</th>
                        <th>@transaction.SubCategory</th>
                        <th>@transaction.Description</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
