<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Category</th>
			<th>This month</th>
			<th>Past month</th>
		</tr>
	</thead>
	<tbody>
		@if (Items != null && Items.Any())
		{
			foreach (var item in Items)
			{
				<tr>
					<td>
						<button class="btn" data-bs-toggle="collapse" href="#subCategory" role="button" aria-expanded="false" aria-controls="subCotegory">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
							</svg>
						</button>
					</td>
					<td>@item.Name</td>
					<td>@item.Sum.ToString("#,#.00#;(#,#.00#)")</td>
					<td>@item.SumPrevious.ToString("#,#.00#;(#,#.00#)")</td>
				</tr>
			}

			<tr>
				<td></td>
				<td></td>
				<td>@Items.Sum(x=>x.Sum).ToString("#,#.00#;(#,#.00#)")</td>
				<td>@Items.Sum(x=>x.SumPrevious).ToString("#,#.00#;(#,#.00#)")</td>
			</tr>
		}
	</tbody>
</table>